<?php
return [
    'recaptcha-api' => [
        'url' => 'https://www.google.com/recaptcha/api/siteverify',
        'GOOGLE_RECAPTCHA_SITE_KEY' => $_ENV['GOOGLE_RECAPTCHA_SITE_KEY'],
        'GOOGLE_RECAPTCHA_SECRET_KEY' => $_ENV['GOOGLE_RECAPTCHA_SECRET_KEY'],
    ],
];